#titulo {
  text-shadow: 9px 9px red;
  text-transform: uppercase;
}

#linea1 {
  background-color: yellow;
}
#linea2 {
  color: green;
}
.linea3 {
  background-color: black;
  color: white;
}

.linea5 {
  text-transform: uppercase;
  color: blue;
}
#linea7 {
  font-size: 30px;
  text-shadow: 3px 3px red;
}
